[submodule "themes/github-style"]
	path = themes/github-style
	url = https://github.com/ac1965/github-style.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole
[submodule "themes/anatole-ext"]
	path = themes/anatole-ext
	url = https://github.com/ac1965/anatole-ext.git
